<body>
    <div class="kutu">


    <h1 style="color:black">Profilim</h1>

         <img class="image" src="assets/img/indir.jpg" alt="image">

         <h1>name surname</h1>
           


            </div> 
<div class="kutu">
     
        <h1>name surname</h1>
        <h1>mail</h1>
        <h1>password</h1>
        <h1>tel</h1>
        <p>Adres</p>

      


     
</div>


<div class="side">


   <a routerLink="sepetim"> <img
    style="width: 50px ;height: 50px;
    float: right;
    padding: 20px"
    class="image" src="assets/image/f.png" alt="sepet"></a>
    
    
    <a routerLink="sepetim"><h1 style="float:right;
    
    padding: 15px;
    margin-top: 1px;
    font-size:18px;">
    Sepetim
</h1></a>

<a routerLink="ayarlar"> <img
    style="width: 50px ;height: 50px;
    float: right;
    padding: 20px"
    class="image" src="assets/image/ass.png" alt="image"></a>
    
    
    <a routerLink="ayarlar">   <h1 style="float:right;
    
    padding: 15px;
    margin-top: 1px;
    font-size:18px;">
    Ayarlar
</h1></a>
</div>

<div class="side">
      
</div>
    

</body>
<router-outlet></router-outlet> 

