<body>
  
 <h1 style="color:whitesmoke;margin: 8px 43%;">Sign Up
</h1>
<form>
  
  <div class="gir">
  <input type="text" name="Name"  placeholder="Name"><br>

   
    <input type="text" name="Surname" placeholder=" Surname"><br>

    <input type="text" name="Phone" placeholder=" Phone"><br>


    
    <input type="text" name="mail" placeholder="E-mail"><br>


    <input type="password" name="Password" placeholder="Password"><br>


</div>
    <input type="submit" [routerLink]="['/giris']" value="Sign Up"> <br>

 
  </form></body>